.app-header {
    display: flex;
    align-items: center;
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $border;
}

.app-branding {
    flex-basis: 360px;
    max-width: 360px;
    min-width: 360px;
    padding-right: 10px;
    padding-left: 10px;
}

.app-navigation {
    flex: 1;
    padding-right: 10px;
    padding-left: 10px;
}

.home-link {
    font-weight: $semi;
    text-decoration: none;
    color: $maintext;
}

.app-menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    li + li {
        margin-left: 20px;
    }

    a {
        text-transform: uppercase;
        letter-spacing: .05em;
        font-size: 14px;
        text-decoration: none;
        color: $maintext;
    }

    .router-link-active {
        font-weight: $semi;
    }
}
