.gogle-map-loading {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    span {
        font-size: 20px;
        font-style: italic;
    }
}

.map {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
