.tab-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.tab-tabs {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid $border;
}

.tab-tab {
    flex: 1;
    position: relative;

    &:before {
        position: absolute;
        bottom: 0;
        height: 50%;
        width: 1px;
        left: 0;
        background: $border;
    }

    & + & {
        &:before {
            content: "";
        }
    }

    a {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 7px 5px 5px;
        border-bottom: 3px solid transparent;
        color: $maintext;
        cursor: pointer;
        user-select: none;

        &:hover {
            color: $highlight;
        }
    }

    i {
        margin-bottom: 2px;
        position: relative;
    }

    .badge {
        position: absolute;
        bottom: 100%;
        left: 100%;
        display: block;
        height: 16px;
        min-width: 16px;
        text-align: center;
        line-height: 16px;
        background: $red;
        border-radius: 10px;
        color: white;
        transform: translate(5%, 50%);
        font-weight: $semi;
        padding: 0 3px;
    }

    span {
        font-size: 12px;
    }

    .is-current {
        border-color: $highlight;
    }
}

.tab-contents {
    display: flex;
    overflow: auto;
    flex: 1;
    flex-direction: column;
}

.tab-content {
    // padding: 10px;
    width: 100%;
    overflow: auto;
}
