.app-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 768px;
}

.app-container {
    flex: 1;
    display: flex;
    overflow: auto;
}

.app-sidebar {
    flex-basis: 360px;
    max-width: 360px;
    min-width: 360px;
    border-right: 1px solid $border;
    background: white;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.app-sidebar-inner {
    display: flex;
    overflow: auto;
    flex: 1;
}

.app-sidebar-actions {
    display: flex;
    border-top: 1px solid $border;
    padding: 10px;

    .button {
        flex: 1;

        + .button {
            margin-left: 10px;
        }
    }
}

.app-content {
    flex-grow: 1;
    position: relative;
    overflow: auto;
    background: white;
}
