.button {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    font-size: .8rem;
    color: white;
    font-weight: 600;
    letter-spacing: .05em;
    background: $highlight;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    outline: none;
    user-select: none;
    font-family: 'Open Sans', sans-serif;

    &:hover {
        background: lighten($highlight, 5%);
        color: white;
    }

    &:active:not[disabled] {
        transform: translate(.5px, .5px);
    }

    &[disabled],
    &.disabled {
        filter:  brightness(1.3) contrast(0.8) grayscale(0.9) hue-rotate(0deg) invert(0) saturate(1) sepia(0);
        cursor: not-allowed;
    }

    &.grey {
        background: $light-grey;
        color: $maintext;

        &:hover {
            background: lighten($light-grey, 5%);
            color: $maintext;
        }
    }

    &.red {
        background: $red;
        color: white;

        &:hover {
            background: lighten($red, 5%);
            color: white;
        }
    }

    &.small {
        height: 35px;
        line-height: 35px;
    }
}
