form {
    display: block;
}

// --------------------------------------------------------------------------
// Lebel
// --------------------------------------------------------------------------
label {
    display: inline-block;
    margin-bottom: 3px;
    font-size: 12px;
    font-weight: $semi;

    &[for] {
        cursor: pointer;
    }
}

// --------------------------------------------------------------------------
// Base Input
// --------------------------------------------------------------------------
::placeholder {
    opacity: 0.2;
}

[type='text'],
[type='password'],
[type='email'],
[type='date'],
[type='number'],
[type='tel'],
[type='search'],
[type='url'],
[type='file'],
[type='color'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='time'],
input:not([type]),
select,
textarea {
    transition-duration: .25s;
    transition-property: background-color, color, border, opacity, transform;
    appearance: none;
    outline: none;
    border: 1px solid $border;
    border-radius: 0;
    background: white;
    width: 100%;
    box-shadow: none;
    height: 35px;
    padding: 2px 10px;

    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: $maintext;
    font-weight: $light;

    &:hover {

    }

    &:focus,
    &:active {
        outline: none;
        border-color: $highlight;
    }

    &:disabled,
    &[disabled] {
        opacity: .5;
        cursor: not-allowed;
    }

    &.is-invalid {
        border-color: $red;
    }
}

[type='checkbox'],
[type='radio'] {
    box-sizing: border-box;
    line-height: normal;
    padding: 0;
    vertical-align: middle;

    + label {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
        cursor: pointer;
        font-size: 14px;
    }

    label > & {
        margin-right: 5px;
        vertical-align: -2px;
    }
}

textarea {
    padding: 5px 10px;
    resize: vertical;
    // min-height: 35px;
}

// --------------------------------------------------------------------------
// Pre Classes
// --------------------------------------------------------------------------
.instruction {
    font-size: 14px;
}

.form-error {
    font-size: 14px;
    color: $red;
    font-style: italic;
}
