html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@at-root {
    @-ms-viewport {
        width: device-width;
    }
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: $maintext;
    background-color: white;
    font-weight: $light;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

::selection {
    background: rgba($highlight, .4);
    color: white;
}

.padded {
    padding: 10px;
}

.padded-2x {
    padding: 20px;
}

.small-padd {
    padding-bottom: 10px;
}
