h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0 0 20px;
    font-weight: $semi;
    line-height: 1.2;
}

p {
    margin: 0;
    padding: 0 0 20px;
    line-height: 1.4;
}

a {
    transition: 150ms ease-in;
    transition-property: color, background;
    text-decoration: none;
    color: $highlight;

    &:hover {
        text-decoration: none;
        color: lighten($highlight, 5%);
    }
}

hr {
    border: none;
    border-bottom: 1px solid $border;
    margin-bottom: 25px;
}

code {
    font-family: "Operator Mono", "Fira Code", Consolas, Monaco, "Andale Mono", monospace;
    background: $light-grey;
    padding: 2px;
    font-size: 14px;
}

pre {
    margin: 0;
    padding: 15px;
    font-family: "Operator Mono", "Fira Code", Consolas, Monaco, "Andale Mono", monospace;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    direction: ltr;
}
