$maintext   : #222222;
$highlight  : #3D7799;
$grey       : #dedede;
$light-grey : #efefef;
$red        : #CC6462;

$border     : $grey;

$light      : 300;
$normal     : 400;
$semi       : 600;
$bold       : 700;

$max-screen : 1200;
