<template>
    <div class="app-header">
        <div class="app-branding">
            <router-link exact :to="{ name: 'Home' }" class="home-link">Map Marker Generator</router-link>
        </div>

        <div class="app-navigation">
            <ul class="app-menu">
                <li>
                    <router-link exact :to="{ name: 'About' }">About</router-link>
                </li>
                <li>
                    <router-link exact :to="{ name: 'Generator' }">Generator</router-link>
                </li>
                <li>
                    <router-link exact :to="{ name: 'Export' }">Export</router-link>
                </li>
                <li>
                    <a href="https://github.com/gummi-io/map-markers-generater-vuejs" target="_blank" rel="noopener">
                        <i class="fa fa-github"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {

}
</script>
