<template>
    <div class="marker-data-field padded">
        <div class="sort-handle">
            <i class="fa fa-sort" aria-hidden="true"></i>
        </div>

        <div class="field-content">
            <div class="name">
                <div class="label">
                    <label>Field Name</label>
                </div>
                <div class="control">
                    <input type="text" v-model="fieldName" />
                </div>
            </div>
            <div class="value">
                <div class="label">
                    <label>Field Value</label>
                </div>
                <div class="control">
                    <textarea v-model="fieldValue" ref="textarea" @focus="adjustSize"></textarea>
                </div>
            </div>
        </div>

        <a href="#" @click.prevent="removeDataField(field)" class="delete-data">
            <i class="fa fa-minus-circle" aria-hidden="true"></i>
        </a>
    </div>
</template>

<script>
import { mapMutations } from 'vuex';
import autosize from 'autosize';

export default {
    props: ['field'],

    mounted() {
        autosize(this.$refs.textarea);
    },

    computed: {
        fieldName: {
            get() {
                return this.field.name;
            },
            set(value) {
                this.$store.commit('updateDataFieldName', {
                    field: this.field,
                    name: value
                });
            }
        },
        fieldValue: {
            get() {
                return this.field.value;
            },
            set(value) {
                this.$store.commit('updateDataFieldValue', {
                    field: this.field,
                    value
                });
            }
        }
    },
    methods: {
        ...mapMutations(['removeDataField']),
        adjustSize() {
            autosize.update(this.$refs.textarea);
        }
    }
}
</script>
