<template>
    <div class="configurator-form">
        <p class="instruction padded"></p>

        <form-control label="Json tab spaces" class="padded">
            <div slot="input">
                <label class="inline-label">
                    <input type="radio" v-model="jsonSpaces" value="2" />2 spaces
                </label>

                <label class="inline-label">
                    <input type="radio" v-model="jsonSpaces" value="4" />4 spaces
                </label>
            </div>
        </form-control>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import FormControl from '@src/components/FormControl';

export default {
    components: { FormControl },
    computed: {
        ...mapGetters(['markersLimitError']),
        jsonSpaces: {
            get() {
                return this.$store.state.exportJsonSpaces;
            },
            set(value) {
                return this.$store.commit('updateExportJsonSpaces', value);
            }
        }
    }
}
</script>
