<template>
    <div class="configurator-form">
        <p class="instruction padded">Zoom and move the map to the area that you want to generate the markers within. Enter how many markers you want to generate within the area. (note if your area includes sea, the marker might be on the sea)</p>

        <form-control label="Include field name in first row" class="padded">
            <div slot="input">
                <input type="checkbox" v-model="csvTitle"/>
            </div>
        </form-control>

        <form-control label="Delimiter character for each column" class="padded">
            <div slot="input">
                <input type="text" v-model="csvDelimiter"/>
            </div>
        </form-control>
    </div>
</template>

<script>
import FormControl from '@src/components/FormControl';

export default {
    components: { FormControl },
    computed: {
        csvTitle: {
            get() {
                return this.$store.state.exportCsvTitle;
            },
            set(value) {
                return this.$store.commit('updateExportCsvTitle', value);
            }
        },
        csvDelimiter: {
            get() {
                return this.$store.state.exportCsvDelimiter;
            },
            set(value) {
                return this.$store.commit('updateExportCsvDelimiter', value);
            }
        },
    }
}
</script>
