<template>
    <div class="app-sidebar-inner export-configurator">
        <tabs :tabSwitched="switchExportTab" :initialaTab="exportActiveTab">
            <tab icon="fa-code" label="JSON">
                <export-json-tab />
            </tab>

            <tab icon="fa-file-excel-o" label="CSV">
                <export-csv-tab />
            </tab>
        </tabs>
    </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex';
import Tabs from '@src/components/Tabs';
import Tab from '@src/components/Tab';
import ExportJsonTab from '@src/components/ExportJsonTab';
import ExportCsvTab from '@src/components/ExportCsvTab';

export default {
    components: { Tabs, Tab, ExportJsonTab, ExportCsvTab },

    computed: {
        ...mapState({
            exportActiveTab: state => state.exportActiveTab
        })
    },

    methods: {
        ...mapMutations(['switchExportTab'])
    }
}
</script>
