<template>
    <div class="form-control">
        <div class="form-label">
            <label v-text="label"></label>
            <span class="form-note" v-if="note" v-text="note"></span>
        </div>

        <div class="form-input">
            <slot name="input">
                <input :type="type" :value="value" />
            </slot>
        </div>
    </div>
</template>

<script>
export default {
    props: ['label', 'note', 'type', 'value']
}
</script>
