<template>
    <div class="app-sidebar-inner generator-configurator">
        <tabs :tabSwitched="switchGeneratorTab" :initialaTab="generatorActiveTab">
            <tab icon="fa-map" label="Map">
                <generator-map-tab />
            </tab>

            <tab icon="fa-list-ul" label="Data">
                <generator-data-tab />
            </tab>

            <tab icon="fa-map-marker" label="Markers" :badge="markersCount">
                <generator-markers-tab />
            </tab>
        </tabs>
    </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex';
import Tabs from '@src/components/Tabs';
import Tab from '@src/components/Tab';
import GeneratorMapTab from '@src/components/GeneratorMapTab';
import GeneratorDataTab from '@src/components/GeneratorDataTab';
import GeneratorMarkersTab from '@src/components/GeneratorMarkersTab';

export default {
    components: { Tabs, Tab, GeneratorMapTab, GeneratorDataTab, GeneratorMarkersTab },

    computed: {
        ...mapState({
            generatorActiveTab: state => state.generatorActiveTab,
            markersCount: state => state.markers.length,
        })
    },

    methods: {
        ...mapMutations(['switchGeneratorTab'])
    }
}
</script>
