<template>
    <div class="configurator-form">
        <p class="instruction padded">Add/Remove the data that need to be generated for each marker. For more information about the available values, please visite <router-link exact :to="{name: 'About'}">about page</router-link></p>

        <draggable v-model="fields" class="marker-data-holder" :options="{handle: '.sort-handle'}" ref="fieldsList">
            <data-field v-for="(field, i) in fields" :key="i" :field="field"></data-field>
        </draggable>

        <div class="marker-data-add-field padded">
            <a href="#" @click.prevent="addField" class="add-data">
                Add Field <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</template>

<script>
import Draggable from 'vuedraggable'
import DataField from '@src/components/DataField';

export default {
    components: { Draggable, DataField },

    computed: {
        fields: {
            get() {
                return this.$store.state.dataFields;
            },
            set(newFields) {
                this.$store.commit('reorderDataField', newFields)
            }
        }
    },

    methods: {
        addField() {
            this.$store.dispatch('addDataField', this.$refs.fieldsList.$el)
                .then(() => {
                    const tabContent = this.$el.parentElement;
                    tabContent.scrollTop = tabContent.scrollHeight;

                    const fields = this.$refs.fieldsList.$children;
                    fields[fields.length-1].$el.querySelector("[type='text']").focus();
                });
        }
    }
}
</script>
