<template>
    <div class="configurator-form">
        <p class="instruction padded">Zoom and move the map to the area that you want to generate the markers within. Enter how many markers you want to generate within the area. (note if your area includes sea, the marker might be on the sea)</p>

        <form-control label="Number of markers to generate" class="padded">
            <div slot="input">
                <input type="number" v-model="limit" max="100" min="1" :class="{'is-invalid': markersLimitError}"/>
                <span class="form-error" v-if="markersLimitError">{{ markersLimitError }}</span>
            </div>
        </form-control>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import FormControl from '@src/components/FormControl';

export default {
    components: { FormControl },
    computed: {
        ...mapGetters(['markersLimitError']),
        limit: {
            get() {
                return this.$store.state.markersLimit;
            },
            set(value) {
                return this.$store.commit('updateMarkersLimit', value);
            }
        }
    }
}
</script>
