<template>
    <div>
        <p class="instruction padded">List of generated markers.</p>

        <div class="markers-holder">
            <marker-list-item v-for="(marker, i) in markers" :key="i" :marker="marker"></marker-list-item>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import MarkerListItem from '@src/components/MarkerListItem';

export default {
    components: { MarkerListItem },

    computed: {
        ...mapState({
            markers: state => state.markers
        })
    }
}
</script>
