<template>
    <div ref="google-map" class="map"></div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';
import GoogleMap from '@src/services/GoogleMap';

export default {
    mounted() {
        GoogleMap.newMap(this.$refs['google-map'])
            .addEvent('bounds_changed', this.updateMapInfo, true)
            .addEvent('bounds_changed', this.updateMarkers, true)
            .addEvent('dragstart', this.toggleMapMovement)
            .addEvent('idle', this.updateMapInfo);
    },

    computed: {
        ...mapState({
            markers: state => state.markers
        })
    },

    watch: {
        markers() {
            this.updateMarkers()
        }
    },

    methods: {
        ...mapMutations(['toggleMapMovement']),
        ...mapActions(['updateMapInfo']),
        updateMarkers() {
            GoogleMap.clearMarkers().populateMarkers();
        }
    }
}

</script>
