<template>
    <label class="generated-marker padded" :class="{'is-selected' : marker.selected}">
        <div class="checkbox">
            <input type="checkbox" :checked="marker.selected" @change="toggleMarker(marker)" />
        </div>

        <div class="value">
            <div class="marker-location">
                <div class="coord"><b>Lng:</b> {{ marker.lng }}</div>
                <div class="coord"><b>Lat:</b> {{ marker.lat }}</div>
            </div>
        </div>

        <div class="trigger">
            <a href="#" @click.stop.prevent="toggleShowData">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </a>
        </div>

        <div class="data padded" v-if="showData">
            <div class="marker-data" v-for="(value, name) in marker.data">
                <b>{{ name }}</b> <span>{{ value }}</span>
            </div>
        </div>
    </label>
</template>

<script>
import { mapActions } from 'vuex';

export default {
    props: ['marker', 'index'],

    data() {
        return {
            showData: false
        }
    },

    methods: {
        ...mapActions(['toggleMarker']),
        toggleShowData() {
            this.showData = ! this.showData;
        }
    }
}
</script>
