<template>
    <section class="tab-content" v-show="isActive">
        <slot></slot>
    </section>
</template>


<script>
export default {
    props: ['icon', 'label', 'badge'],

    data() {
        return {
            isActive: false
        }
    }
}
</script>
