<template>
    <div class="tab-container">
        <ul class="tab-tabs">
            <li class="tab-tab" v-for="(tab, i) in tabs" :key="i">
                <a @click.prevent="selectTab(tab)" :class="{'is-current': tab.isActive}">
                    <div>
                        <i class="fa" :class="tab.icon">
                            <span class="badge" v-if="tab.badge">{{ tab.badge }}</span>
                        </i>
                    </div>
                    <span>{{ tab.label }}</span>
                </a>
            </li>
        </ul>

        <div class="tab-contents">
            <slot></slot>
        </div>
    </div>
</template>

<script>
export default {
    props: ['tabSwitched', 'initialaTab'],

    data() {
        return {
            tabs: []
        }
    },

    created() {
        this.tabs = this.$children;
    },

    mounted() {
        this.tabs.forEach((tab) => {
            tab.isActive = tab.label === this.initialaTab;
        })
    },

    methods: {
        selectTab(selectedTab) {
            this.tabs.forEach((tab) => {
                tab.isActive = tab.label === selectedTab.label;
            })

            this.tabSwitched(selectedTab.label);
        }
    }
}
</script>
