.welcome-page {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 768px;
    margin-right: auto;
    margin-left: auto;
    height: 100vh;
    padding-right: 50px;
    padding-left: 50px;
}
