<template>
    <div class="app-page export-page">
        <app-header />

        <div class="app-container export-container">
            <div class="app-sidebar export-sidebar">
                <export-sidebar />

                <div class="app-sidebar-actions export-actions">
                    <button @click.prevent="downlaodExportFile" class="button small" :disabled="! markers.length">Download</button>
                </div>
            </div>

            <div class="app-content export-content">
                <div class="padded-2x" v-if="! markersWithData.length">No markers has been generated yet.</div>
                <pre @click="selectAll" v-if="markersWithData.length" ref="preOutput">{{ output }}</pre>
            </div>
        </div>
    </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex';
import json2csv from 'json2csv';
import AppHeader from '@src/components/AppHeader';
import ExportSidebar from '@src/components/ExportSidebar';

export default {
    components: { AppHeader, ExportSidebar },

    data() {
        return {
            selected: false
        }
    },

    computed: {
        ...mapState({
            exportActiveTab: state => state.exportActiveTab,
            markers: state => state.markers,
            exportJsonSpaces: state => parseInt(state.exportJsonSpaces),
            exportCsvTitle: state => !! state.exportCsvTitle,
            exportCsvDelimiter: state => state.exportCsvDelimiter,
            exportCsvNewLine: state => state.exportCsvNewLine,
        }),
        ...mapGetters(['markersWithData', 'dataFieldKeys']),
        output() {
            return this.exportActiveTab == 'JSON'? this.returnJson() : this.returnCsv();
        },
        extension() {
            return this.exportActiveTab == 'JSON'? '.json' : '.csv';
        }
    },

    methods: {
        selectAll() {
            this.selected = ! this.selected;

            if (! this.selected) {
                return;
            }

            window.getSelection().selectAllChildren(this.$refs.preOutput);
        },
        returnJson() {
            return JSON.stringify(this.markersWithData, null, this.exportJsonSpaces);
        },
        returnCsv() {
            return json2csv({
                data: this.markersWithData,
                fields: this.dataFieldKeys,
                hasCSVColumnTitle : this.exportCsvTitle,
                del : this.exportCsvDelimiter,
                newLine: this.exportCsvNewLine
            });
        },
        downlaodExportFile() {
            const fileName = "marker-generater-export-data";

            const link = document.createElement("a");
            link.href = 'data:text/csv;charset=utf-8,' + escape(this.output);
            link.style = "visibility:hidden";
            link.download = fileName + this.extension;

            this.$el.appendChild(link);
            link.click();
            this.$el.removeChild(link);
        }
    }
}
</script>
