<template>
    <div class="app-page generator-page">
        <app-header />

        <div class="app-container generator-container">
            <div class="app-sidebar generator-sidebar">
                <generator-sidebar />

                <div class="app-sidebar-actions generator-actions">
                    <button @click.prevent="clearMarkers" v-if="! selectedMarkers.length" class="button small grey" :disabled="! markers.length">Clear</button>
                    <button @click.prevent="deleteMarkers" v-if="selectedMarkers.length" class="button small red">Delete</button>
                    <button @click.prevent="generateMarkers" class="button small" :disabled="! canGenerateMarker">Generate</button>
                </div>
            </div>

            <div class="app-content generator-content">
                <div class="gogle-map-loading" v-if="! googleMapReadied">
                    <span>Loading Google Map...</span>
                </div>

                <google-map v-if="googleMapReadied" />
            </div>
        </div>
    </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex';
import AppHeader from '@src/components/AppHeader';
import GeneratorSidebar from '@src/components/GeneratorSidebar';
import GoogleMap from '@src/components/GoogleMap';

export default {
    components: { AppHeader, GeneratorSidebar, GoogleMap },

    mounted() {
        this.injectGoogleMapScript();
        this.fetchUserLocation();
    },

    computed: {
        ...mapState({
            markers: state => state.markers
        }),
        ...mapGetters(['googleMapReadied', 'selectedMarkers', 'canGenerateMarker'])
    },

    methods: {
        ...mapMutations(['clearMarkers', 'deleteMarkers']),
        ...mapActions(['injectGoogleMapScript', 'fetchUserLocation', 'generateMarkers'])
    }
}
</script>
