<template>
    <div class="welcome-page">
        <div class="content">
            <h1>Map Markers Generator <span class="app-type">-VueJS</span></h1>

            <p>Map Markers Generator allows you to generates some random markers on the map, with custom attributes. This tool is useful if you are building some store locator or Google map interaction app. Before you have the real data, you can use the generated markers to do some functional testing such as radius search or filtering. </p>

            <p>This app is for educational purposes for by using VueJS with simple Vuex and Vue-Router integration. </p>

            <div class="button-holder">
                <a class="button" @click.prevent="proceed">Start Generating</a>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    methods: {
        proceed() {
            this.$router.push({ name: 'Generator' });
        }
    }
}
</script>
